@import 'helpers/mixins.sass'
@import 'helpers/variables.sass'
@import 'helpers/smartgrid.sass'

+reset()

@import 'helpers/fonts.sass'
*, ::after, ::before
    box-sizing: border-box
body
	position: relative
	overflow-x: hidden
	min-width: 320px
	font-family: 'Proxima Nova Rg', sans-serif
	font-weight: normal
	background-color: #F4F4F4
	line-height: 1.3

/*grid*/
@import 'helpers/grid.sass'
.container
	+wrapper()
/*End grid*/
input.not-control::-webkit-outer-spin-button, input::-webkit-inner-spin-button
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none
    margin: 0
h1
	color: rgba(0, 0, 0, 0.8)
	margin-bottom: 27px
	font-size: 48px
	+r(630)
		font-size: 24px
.error
	color: #D0021B
	display: inline-block
	width: 100%
	font-size: 14px
	text-align: center
.wrapper
	 padding: 0 24px
	 width: 100%
// Form
.form-wrapper
	max-width: 768px
	background-color: #fff
	padding: 15px 9px
	+r(630)
		padding: 15px 25px
	.title-form
		margin-left: 15px
		color: #000
		font-size: 24px 
		margin-bottom: 18px
		font-weight: 500
		+r(630)
			font-size: 18px
			margin-left: 0
	.form_calc
		max-width: 578px
		input
			background: #FAFAFA
			border: 1px solid rgba(0, 0, 0, 0.07)
			box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06)
			border-radius: 3px
			padding: 16px 11px
			line-height: 1.3
			font-size: 15px
			max-width: 394px
			font-weight: bold
			color: rgba(0, 0, 0, 0.8)
			&::placeholder
				font-weight: normal
				color: rgba(0, 0, 0, 0.4)
			&:focus,&:hover
				border-color: #4974ef
		input.error
			border-color: #D0021B
		.from-group
			display: flex
			flex-wrap: wrap
			margin-bottom: 16px
			max-width: 577px
			align-items: center
			margin-left: 15px
			+r(630)
				flex-direction: column
				margin-left: 0
				align-items: flex-start
			input
				margin-left: auto
				width: 100%
				+r(630)
					margin-left: 0
		.btn
			+r(630)
				margin-left: 0
		.green
			color: rgba(98, 180, 53, 0.8)
// end Form
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled)
    cursor: pointer
.dashed
	border: 1px dashed rgba(0, 0, 0, 0.3)
.btn
	display: inline-block
	padding: 13px 15px
	background: none
	border: 1px solid #000
	color: #000
	box-shadow: none
	vertical-align: middle
	text-align: center
	font-size: 14px
	border-radius: 3px
.btn-blue
	background-color: #3498DB
	color: #fff
	border-color: #3498DB
	&:hover
		background-color: #34a9f7
		border-color: #34a9f7
.btn-read
	background-color: #D0021B
	border-color: #D0021B
	color: #fff
	&:hover
		background-color: #920919
		border-color: #920919
.max-width-394
	max-width: 394px
	width: 100%
	display: block
.ml-auto
	margin-left: auto
.list-dots
	margin-left: 15px
	+r(630)
		margin-left: 0
	>li
		font-size: 14px
		color: rgba(0, 0, 0, 0.8)
		display: flex
		&:before
			content: '\2022'
			color: rgba(52, 152, 219, 0.8)
			margin-right: 10px
			line-height: 1
