.mb-15
    margin-bottom: 15px
.mb-3
    margin-bottom: 30px
.mb-4
    margin-bottom: 40px
.mb-5
    margin-bottom: 50px
.mb-6
    margin-bottom: 60px
.mb-7
    margin-bottom: 70px

[class^="col"]
    +col()
@for $i from 1 through 12
    .col-md-#{$i}
        +size($i) 
@for $i from 1 through 12
    .col-sm-#{$i}
        +size-sm($i) 
@for $i from 1 through 12
    .col-xs-#{$i}
        +size-xs($i)
.row
    +row-flex()